<footer class="footer">
    <img src="./assets/images/ico-arrow.svg" alt="icon" class="footer-icon">
    <section class="container">
    <nav class="footer__nav">
        <ul class="footer__nav--list">
            <li><a class="link" href="https://adalab.es./">ARTICLES</a></li>
            <li><a class="link" href="https://adalab.es./">BOOKS</a></li>
            <li><a class="link" href="https://adalab.es./">EVENTS</a></li>
            <li><a class="link" href="https://adalab.es./">REASONS</a></li>
            <li><a class="link" href="https://adalab.es./">TIPS</a></li>
        </ul>
    </nav>
    </section>
    <section class="container__two">
    <nav class="footer__nav__two">
        <ul class="footer__nav__two--listtwo">
            <li><a class="link" href="https://adalab.es./">TWITTER</a></li>
            <li><a class="link" href="https://adalab.es./">INSTAGRAM</a></li>
            <li><a class="link" href="https://adalab.es./">MASTODON.SOCIAL</a></li>
        </ul>
    </nav>
    </section>
    <section class="footer-copylogo">
        <p class="copy">&copy2022</p>
        <p class="logo">we <span class="heart">❤︎</span> components</p>
    </section>

</footer>