.hero{
    background-image: url(../images/cover.jpg);
    height: 568px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

   
}

.hero-container{

  
    
}
.hero-title{

      
}

.hero-paragraph{
    color: red;

}
